  /** font size is the size of all the text in body
  line-height compress/stretch everything under body **/

  /** padding is the thickness from text to sides of squares
  padding properties are used to generate space around an element's content
  , inside of any defined borders.
  margin is thickness from outer sides to nearest wall 
  margin properties are used to create space around elements,
  outside of any defined borders
  (i,e margin-bottom, ...top, etc...) **/

    /** overflow is use to control content that is to big to fit
  in an area.
  clear is used to not allow which side can float **/

    /** for the border u can add the style size and color 
  text-decoration-color is the color of the underline**/

  /* clearfix is applied to the parent container to 'fix' the flow of the page */
/* if element is taller than the container it will overflow...
the clearfix::after fixes this*/
  /* text align is the lrc for texts */

body{
    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    line-height:24px;
    width:960px;
    margin: auto;
    
}

header, 
nav, 
section, 
aside, 
footer {
  

    background: #ebebeb;
    padding: 10px;
    margin: 10px;
    text-align: center;

}

section{
    
    float: left;
    width: 495px;
    height: 267px;

  
    
}
aside{
    float: right;
    width: 40%;
    height:267px;
  
 
  
}

article{
    
    color: #ebebeb;
    background: #777;
    padding:10px;

}



#specialh1,
#specialp{
    color: #777;
    background: #ebebeb;
    text-align: center;
    padding:10px;
    margin: 10px;
}
/** this clear is used so that the footer box is placed below because it clears the floats 
and how the boxes are aline sequentially**/
.clear{
    clear:both;
}